{
  "name": "{{{project.name}}}",
  "engines": {
    "node": ">=8.9.4"
  },
  "scripts": {
    "ca": "git add -A && git-cz -av",
    "ci": "git-cz",
    "release": "standard-version --no-verify",
    "release:alpha": "standard-version --prerelease alpha",
    "release:first": "standard-version --first-release",
    "postinstall": "alfy-init",
    "preuninstall": "alfy-cleanup",
    "postpublish": "git push"
  },
  "author": {
    "name": "val-istar-guo",
    "email": "val.istar.guo@gmail.com",
    "url": "http://blog.miaooo.me"
  },
  "dependencies": {
    "alfy": "^0.9.1"
  },
  "devDependencies": {
    "@commitlint/cli": "^9.1.1",
    "@commitlint/config-conventional": "^9.1.1",
    "commitizen": "^4.1.2",
    "cz-conventional-changelog": "^3.2.0",
    "husky": "^4.2.5",
    "standard-version": "^8.0.2"
  }
}
